@page "/product/{id:int}"
@using UrbanMuse.DataBase
@using UrbanMuse.Models
@inject ModelContext ef
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="product-demo-header-right">
    <div class="store-header-logo-text">
        <img class="store-header-img" src="LocalImage/IconAndGroup/amphora.svg">
        <NavLink class="nav-link" href="about">
            URBAN MUSE
        </NavLink>
    </div>
</div>

<div class="product-demo-header-left">
    <button @onclick="NavigateToRegistred"><img src="LocalImage/IconAndGroup/log-in.svg"/></button>
    <button ><img src="LocalImage/IconAndGroup/shopping-basket.svg"/></button>
    <button ><img src="LocalImage/IconDemo/menu.svg"/></button>
</div>



<div class="product-demo-background">
    <div class="product-demo-card-container">
        <div class="product-demo-card">
            <button @onclick="Previous"><img src="LocalImage/IconDemo/chevron-left.svg"/></button>
            <img class="product-demo-card-img" src="@_product.Image[currentimg]"/>
            <button @onclick="Next"><img src="LocalImage/IconDemo/chevron-left.png"/></button>
        </div>
    </div>
    @msg
    <div class="product-demo-card-more">
        @foreach (var img in _product.Image)
        {
            <img src="@img"/>
        }
    </div>
        <div class="product-demo-card-name">@_product.Name</div>
    <div class="product-demo-card-price">@_product.Price$</div>
    <div class="product-demo-card-buy-container">
        Size <input type="range" min="16" max="48" step="4" @bind="currenSize"/> @currenSize 
        <button class="product-demo-card-buy" @onclick="CreateOrder">Buy</button>
    </div>
</div>
<div class="product-demo-louer">
    <div class="product-demo-louer-description-upper">@_product.Name, what's the point?</div>
    <div class="product-demo-louer-description">@_product.Description</div>
    <div class="product-demo-recommendations-carousel">
        @foreach (var prod in _products)
        {
            <div class="product-demo-recommendations-card">
                <img src="@prod.Image[0]"/>
                <div class="product-demo-recommendations-text">@prod.Name</div>
            </div>
        }
    </div>
</div>




@code {
    [Parameter] public int id { get; set; }
    private Product _product = new Product();
    private List<Product> _products = new List<Product>();
    private int currenSize;
    private int currentimg;
    private string msg;

    private void Next()
    {
        currentimg = (currentimg + 1) % _product.Image.Count;
    }
    private void Previous()
    {
        currentimg = (currentimg - 1 + _product.Image.Count) % _product.Image.Count;
    }
    
    protected override void OnInitialized()
    {
        LoadProduct();
    }

    private void LoadProduct()
    {
        _product = ef.Products.FirstOrDefault(p => p.Id == id);
        _products = ef.Products.ToList();
    }

    private void CreateOrder()
    {
        
    }

    public void NavigateToRegistred()
    {
        NavigationManager.NavigateTo("/registered");
    }
}