@page "/product/{id:int}"
@using System.Drawing
@using Microsoft.EntityFrameworkCore
@using UrbanMuse.DataBase
@using UrbanMuse.Models
@inject ModelContext ef
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@if (msg != null)
{
    <div class="product-demo-message">
        <a>@msg</a>
    </div>
    Timer();
}
@if (IsMenuOpen)
{
    <div class="product-demo-menu">
        <button class="product-demo-menu-button" @onclick="OpenMenu"><img src="LocalImage/IconDemo/menu.svg"/></button>
        <button class="product-demo-menu-button-another" @onclick="NavigateToHome">
            <img src="LocalImage/IconAndGroup/house.svg"/>
            <a>HOME</a>
        </button>
        <button class="product-demo-menu-button-another" @onclick="NavigateToStore">
            <img src="LocalImage/IconAndGroup/shopping-basket.svg"/>
            <a>STORE</a>
        </button>
        <button class="product-demo-menu-button-another" @onclick="NavigateToAbout">
            <img src="LocalImage/IconAndGroup/amphora.svg"/>
            <a>ABOUT US</a>
        </button>
    </div>
}

<div class="product-demo-header-right">
    <div class="store-header-logo-text">
        <NavLink class="nav-link" href="about">
            <img class="store-header-img" src="LocalImage/IconAndGroup/amphora.svg">
            URBAN MUSE
        </NavLink>
    </div>
</div>

<div class="product-demo-header-left">
    <button @onclick="NavigateToRegistred"><img src="LocalImage/IconAndGroup/profile.svg"/></button>
    <button @onclick="NavigateToStore"><img src="LocalImage/IconAndGroup/shopping-basket.svg"/></button>
    <button @onclick="OpenMenu"><img src="LocalImage/IconDemo/menu.svg"/></button>
</div>



<div class="product-demo-background">
    <div class="product-demo-card-container">
        <div class="product-demo-card">
            <button @onclick="Previous"><img src="LocalImage/IconDemo/chevron-left.svg"/></button>
            <img class="product-demo-card-img" src="@currentimg"/>
            <button @onclick="Next"><img src="LocalImage/IconDemo/chevron-left.png"/></button>
        </div>
    </div>
    <div class="product-demo-card-more">
        @foreach (var img in _product.Photos)
        {
            <img @onclick="() => currentimgSet(img)" src="@GetImageSrc(img)"/>
        }
    </div>
    <div class="product-demo-card-name">@_product.Name</div>
    <div class="product-demo-card-price">@_product.Price$</div>
    <div class="product-demo-card-buy-container">
        <button class="product-demo-card-buy-container-button @GetButtonClass(1)" @onclick="() => CurrentSize(1)">S</button>
        <button class="product-demo-card-buy-container-button @GetButtonClass(2)" @onclick="() => CurrentSize(2)">M</button>
        <button class="product-demo-card-buy-container-button @GetButtonClass(3)"  @onclick="() => CurrentSize(3)">L</button>
        <button class="product-demo-card-buy-container-button @GetButtonClass(4)"  @onclick="() => CurrentSize(4)">XL</button>
        <button class="product-demo-card-buy" @onclick="CreateOrderAsync">Buy</button>
    </div>
</div>





<div class="product-demo-louer">
    <div class="product-demo-louer-description-upper">@_product.Name, what's the point?</div>
    <div class="product-demo-louer-description">@_product.Description</div>
    
    <div class="product-demo-recommendations-carousel">
        @foreach (var prod in _products)
        {
            <div class="product-demo-recommendations-card">
                <img src="@prod.Photos[0]"/>
                <div class="store-product-card-description">
                    <div class="product-demo-recommendations-text">@prod.Name</div>
                    <div class="product-demo-recommendations-text">@prod.Price$</div>
                </div>
            </div>
        }
    </div>
    <div class="product-demo-desc-hr"></div>
    <div class="product-demo-desc">
        <button @onclick="NavigateToNew">I luuuuf i luf i luf i u</button>
        <a>URBAN MUSE</a><img class="store-header-img" src="LocalImage/IconAndGroup/amphora.svg"/>
    </div>
</div>




@code {
    [Parameter] public int id { get; set; }
    private int ClientId { get; set; }
    private Product _product = new Product();
    private Client _client = new Client();
    private Order _order = new Order();
    private List<Product> _products = new List<Product>();
    private int currentSize = 2;
    private int currentimg;
    private string? msg = null;
    private bool IsAuth = false;
    private bool IsMenuOpen = false;

    protected void OpenMenu()
    {
        IsMenuOpen = !IsMenuOpen;
        StateHasChanged();
    }

    private void currentimgSet(Photo imge)
    {
        currentimg = _product.Photos.Count(img => img == imge);
    }

    protected override async void OnInitialized()
    {
        LoadProduct();
        _products = await ef.Products
            .Include(p => p.Photos)
            .ToListAsync();
        IsAuth = await LocalStorage.GetItemAsync<bool>("IsAuth");
    }
    private string GetImageSrc(Photo img)
    {
        return $"data:{img.ContentType};base64,{Convert.ToBase64String(img.Data)}";
    } 

    private void CurrentSize(int size)
    {
        currentSize = size;
        
    }
    string GetButtonClass(int size)
    {
        return currentSize == size ? "selected" : "";
    }

    private void Next()
    {
        currentimg = (currentimg + 1) % _product.Photos.Count;
    }
    
    private void Previous()
    {
        currentimg = (currentimg - 1 + _product.Photos.Count) % _product.Photos.Count;
    }

    private void LoadProduct()
    {
        _product = ef.Products.FirstOrDefault(p => p.Id == id)!;
        _products = ef.Products.Take(10).ToList(); 
    }

    public void NavigateToRegistred()
    { NavigationManager.NavigateTo("/registered"); }
    public void NavigateToNew()
    { NavigationManager.NavigateTo("/New"); }
    public void NavigateToHome()
    { NavigationManager.NavigateTo("");}
    public void NavigateToStore()
    { NavigationManager.NavigateTo("/store");}
    public void NavigateToAbout()
    { NavigationManager.NavigateTo("/about");}
    

    private async void Timer()
    { await Task.Delay(10000); msg = null; StateHasChanged(); }

    private async void  CreateOrder()
    {
        if (!IsAuth)
        {
            msg = "you are not logged in";
        }
        else
        {
            try
            {
                _order.OrderDate = DateTime.Now;
                
                ClientId = await LocalStorage.GetItemAsync<int>("clientId"); 
                _client = ef.Clients.FirstOrDefault(c => c.Id == ClientId)!;
                _order.Client = _client;
                _order.ClientId = ClientId;
                _order.ProductId = _product.Id;
                _order.Product = ef.Products.FirstOrDefault(p => p.Id == id);
                _order.Size = currentSize;
                ef.Add(_order);
                ef.SaveChanges();
                msg = $"the order has been successfully created, the size {_order.Color}, the name {_product.Name}, all orders can be viewed in the shopping cart";
                _order = null!;
                StateHasChanged();
            }
            catch (Exception e)
            {
                msg = "вы уже заказали этот товар, смотреть в корзине, если хотите заказать еще раз, обновите страницу";
            }
        }
    }
    private async Task CreateOrderAsync()
    {
        if (!IsAuth)
        {
            msg = "you are not logged in";
            return;
        }
    
        try
        {
            _order.OrderDate = DateTime.Now;
            ClientId = await LocalStorage.GetItemAsync<int>("clientId");
            _client = ef.Clients.FirstOrDefault(c => c.Id == ClientId);
            if (_client == null)
            {
                msg = "Client not found.";
                return;
            }
            _order.Client = _client;
            _order.ClientId = ClientId;
            _order.ProductId = _product.Id;
            _order.Product = ef.Products.FirstOrDefault(p => p.Id == _product.Id);
            if (_order.Product == null)
            {
                msg = "Product not found.";
                return;
            }
            _order.Size = currentSize;
            ef.Add(_order);
            await ef.SaveChangesAsync();
            msg = $"Order created: Size {_order.Size}, Product {_product.Name}";
            _order = new Order();
            StateHasChanged();
        }
        catch (Exception e)
        {
            msg = "Error creating order: " + e.Message;
        }
    }
}