@page "/store"
@using Microsoft.EntityFrameworkCore.Query.SqlExpressions
@using UrbanMuse.DataBase
@using UrbanMuse.Models
@rendermode InteractiveServer
@inject ModelContext ef
@inject IJSRuntime IJSRuntime
@inject NavigationManager Navigation


<div class="store-header">
    <img class="store-header-img" src="LocalImage/IconAndGroup/amphora.svg">
        <NavLink class="nav-link" href="about">
            <div class="store-header-logo-text">
                URBAN MUSE
            </div>
        </NavLink>
    <div class="store-header-text-container">
        <div class="store-header-text-home-2025">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                HOME
            </NavLink>
        </div>
        <div class="store-header-text-store">
            <NavLink class="nav-link" href="store">STORE</NavLink>
        </div>
        <div class="store-header-text-home-2025">
            @_actualYear
        </div><!--Можно кодом актуальный год поставить или год самой свежей коллекции (фильтр по бд)-->
    </div>
    <div class="store-header-button-container">
        <img class="store-header-button-img" src="LocalImage/IconAndGroup/поиск.svg"/>
        <img class="store-header-button-img" src="LocalImage/IconAndGroup/корзина.svg"/>
    </div>
</div>

<div @onscroll="@OnScroll" id="myDiv" class="home-custom-background">
    <div class="store-title-slogan">
        ART IN EVERYDAY
    </div>
    <div class="store-background-catalog">
        <div class="store-filter-container">
            <button class="store-filter-button" @onclick="ClearFilter">
                <div class="store-filter-button-sort">
                    <img src="LocalImage/IconAndGroup/shopping-basket.svg"/>
                    <a>ALL PRODUCT</a>
                </div>
            </button>
            <button class="store-filter-button" @onclick="ToggleMenuType">
                <div class="store-filter-button-sort">
                    <img src="LocalImage/IconAndGroup/list.svg"/>
                    <a>TYPE</a>
                </div>
            </button>
            @if (IsMenuTypeOpen)
            {
                <select class="dropdown-store-menu" @bind="SelectedType">
                    @foreach (ProductEnumType productEnumType in Enum.GetValues(typeof(ProductEnumType)))
                    {
                        <option value="@productEnumType">@productEnumType</option>
                    }
                </select>
            }
            <button class="store-filter-button" @onclick="ToggleMenuPrice">
                <div class="store-filter-button-sort">
                    <img class="store-filter-img" src="LocalImage/IconAndGroup/circle-percent.svg"/>
                    <a>Price</a>
                </div>
            </button>
            @if (IsMenuPriseOpen)
            {
                <div class="dropdown-store-menu">
                <label>min @MinPrice</label>
                <input type="range" min="0" max="10000" step="100" @bind="MinPrice"/>
                <label>max @MaxPrice</label>
                <input type="range" min="0" max="10000" step="100" @bind="MaxPrice"/>
                </div>
            }
            <button class="store-filter-button">
                <div class="store-filter-button-sort">
                    <img src="LocalImage/IconAndGroup/circle-check.svg"/>
                    <a>AVAILABILITY</a>
                </div>
            </button>
            <button class="store-filter-button" @onclick="ReSearchType">apply</button>
        </div>
       
        
        
        
        
        
        <div class="store-product-card-container">
            @foreach (var prod in _products)
            { <div class="store-product-card"><!--Добавить ограничение по максимуму и минимуму пикселей проверить верстку-->
                <img src="@prod.Image[0]"/>
                <div class="store-product-card-description">
                    <div class="store-product-card-name">@prod.Name</div>
                    <div class="store-product-card-name">@prod.Price</div>
                </div>
                <div class="store-product-card-description">
                    <button class="store-product-card-button-add-to-cart">Add to cart</button>
                    <button class="store-product-card-button-buy" @onclick="() =>GoToProductDetail(prod.Id)">Buy</button><!--Поменять картинку на продукт с белым фоном из фигмы, и поменять контейнер-->
                </div>
                </div>
            }
        </div>
    </div>
</div>


<script suppress-error="BL9992">
    window.getScrollToTop =  (selector) => {
        return document.querySelector(selector).scrollTop
    }
</script>


@code {
    private readonly int _actualYear = DateTime.Now.Year;
    public int ScrollTop { get; set; }
    private string msg;
    private List<Product> _products = new List<Product>();

    protected override void OnInitialized()
    {
        LoadProduct();
    }

    private void LoadProduct()
    {
        _products = ef.Products.ToList();
    }

    private void GoToProductDetail(int productId)
    {
        Navigation.NavigateTo($"/product/{productId}");
    }

    private bool IsMenuTypeOpen = false;
    private void ToggleMenuType()
    {
        IsMenuTypeOpen = !IsMenuTypeOpen;
    }

    private bool IsMenuPriseOpen = false;
    private void ToggleMenuPrice()
    {
        IsMenuPriseOpen = !IsMenuPriseOpen;
    }

    private async Task OnScroll(EventArgs e)
    {
        ScrollTop = await IJSRuntime.InvokeAsync<int>("getScrollToTop", "#myDiv");
    }


    private string? SelectedType;
    private int MinPrice = 0;
    private int MaxPrice = 0;
   

    void ClearFilter()
    {
        LoadProduct();
    }
    
    private void ReSearchType()
    {
        try
        {
            LoadProduct();
            if (SelectedType != null)
            {
            _products = _products.Where(p => p.Type == SelectedType).ToList();
            }
            if (MaxPrice>MinPrice)
            {
            _products = _products.Where(p => p.Price > MinPrice & p.Price < MaxPrice).ToList();
            }
        }
        catch (Exception e)
        {
            msg = e.ToString();
        }
        
    }/*Кароче, во-первых, идея по стору = удалять повторки или переделать модель
    (модель продукта наследуется от продукта, но с собственными доп полями)
    еще не работает поиск по листу не получается конвертировать енум в стринг, но это умеет селекшн и опшн*/
}